<%- include('./header.ejs')   %> 
<div class="container banner1">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h5 class="ban1text1">Welcome to our <br></h5>
            <h1 class="ban1text2">MPCT Grivance Portal.</h1>
            <h1 class="ban1text3 ">About Us...</h1>


        </div>

    </div>
</div>


<div class="bubbles">
    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

</div>

<!-- </div> -->

</section>
<!-- first section end -->

<!-- second section start -->

<section>
<div class="container-fluid py-5">
    <div class="container pt-3 text-center">
        <div class="row">
            <div class="col-lg-3 mt-2">
                <div class="cover p-4">
                    <i class="fa fa-graduation-cap mb-3" aria-hidden="true"></i>
                    <h4 class="skiltext1">
                        Skilled Instructors</h4>
                    <p class="skilpera1 mt-3">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
                        diam</p>
                </div>

            </div>
            <div class="col-lg-3 mt-2">
                <div class="cover p-4">
                    <i class="fa fa-headphones mb-3"></i>
                    <h4 class="skiltext1">
                        Safe Messages</h4>
                    <p class="skilpera1 mt-3">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
                        diam</p>
                </div>

            </div> 
            <div class="col-lg-3 mt-2">
                <div class="cover p-4">
                    <i class="fa fa-globe mb-3"></i>
                    <h4 class="skiltext1">
                        Online Plateform</h4>
                    <p class="skilpera1 mt-3">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
                        diam</p>
                </div>

            </div>
            <div class="col-lg-3 mt-2">
                <div class="cover p-4">
                    <i class="fa fa-share-alt mb-3"></i>
                    <h4 class="skiltext1">
                        Share Problems</h4>
                    <p class="skilpera1 mt-3">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet
                        diam</p>
                </div>

            </div>

        </div>
    </div>
</div>
</section>

<!-- second section end -->

<!-- third section start -->

<section>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-3">
            <img src="images/aboutimg.jpg" class="img-fluid" alt="">

        </div>
        <div class="col-lg-6 mt-3  ">
            <div class="container img-fluid b p-5">
                <h4 class="sec3text1 mb-3 mt-3">ABOUT US</h4>
                <h1 class="sec3text2 mb-2">MPCT Grivance Portal.</h1>
                <p class="sec3pera1 mt-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
                    diam amet diam et eos. Clita erat ipsum et lorem et sit. <br> <br>

                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                    Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                </p>

                <div class="container-fluid">
                    <div class="col-lg-12 mt-3">
                        <ul>
                            <li>Skilled Instructors </li>
                            <li> Safe Messages</li>
                            <li>Online Plateform</li>
                            <li> Share Problems</li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn5 mt-3"> Read More </button>

            </div>
        </div>
    </div>
</div>
</section>

<!-- third section end -->

<!-- forth section start -->
<section>
<div class="container-fluid mt-5">
    
        <h1 class=" sec4text1 text-center mb-5">Expert Instructors</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card semcard">
                        <div class="card-image">
                            <img src="./images/team1.jpg" class="img-fluid img1" alt="">
                        </div>
                        <ul class="icons">
                            <li>
                                <a href="">
                                    <i class=" fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="details">
                            <h2>Marry Gray
                                <br>
                                <span class="job-title mb-5">CUSTOMER OFFICER</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card-wrapper ">
                    <div class="card semcard">
                        <div class="card-image">
                            <img src="./images/team2.jpg" class="img-fluid img1" alt="">
                        </div>
                        <ul class="icons">
                            <li>
                                <a href="">
                                    <i class=" fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="details">
                            <h2>Liza Brown
                                <br>
                                <span class="job-title mb-5">CUSTOMER OFFICER</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card semcard">
                        <div class="card-image">
                            <img src="./images/team3.jpg" class="img-fluid img1" alt="">
                        </div>
                        <ul class="icons">
                            <li>
                                <a href="">
                                    <i class=" fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="details">
                            <h2>Anna Green
                                <br>
                                <span class="job-title mb-5">CUSTOMER OFFICER</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card semcard">
                        <div class="card-image">
                            <img src="./images/team4.jpg" class="img-fluid img1" alt="">
                        </div>
                        <ul class="icons">
                            <li>
                                <a href="">
                                    <i class=" fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class=" fab  fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="details">
                            <h2>John Gray
                                <br>
                                <span class="job-title ">CUSTOMER OFFICER</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<%- include('./footer.ejs')   %> 