<%- include('./header.ejs')   %> 
<div class="container banner1">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h5 class="ban1text1">Welcome to our <br></h5>
            <h1 class="ban1text2">MPCT Grivance Portal.</h1>
            <h1 class="ban1text3 ">Help...</h1>


        </div>

    </div>
</div>


<div class="bubbles">
    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

</div>

<%- include('./footer.ejs')   %> 
