<%- include('./header.ejs')   %> 

<div class="container banner1">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h5 class="ban1text1">Welcome to our <br></h5>
            <h2 class="n mt-4">MPCT Grivance Portal.</h2>
            <h1 class="ban1text2 mt-2"> Please Login...</h1>
            <div class="mt-4">
                <button class="main-btn">Read More</button>
            </div>

        </div>

    </div>
</div>
<!-- </div> -->
<!-- <div class="side-bar">
    <img src="images/menu.png" class="img-fluid menu" alt="">

    <div class="social-link">
        <img src="images/fb.png" alt="">
        <img src="images/ig.png" alt="">
        <img src="images/tw.png" alt="">
    </div>
    <div class="useful-link">
        <img src="images/share.png" alt="">
        <img src="images/info.png" alt="">

    </div>

</div> -->

<div class="bubbles">
    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

    <img src="images/bubble.png" alt="">

</div>

<!-- </div> -->

</section>
<!-- first section end -->


<!-- second section  end -->

<section class="pt-5 pb-5">
<div class="container pt-5 pb-2">
    <div class="row">
        <div class="col-lg-4 mb-3  col-md-6">
            <div class="card ho">
                <img src="images/students.avif" class="x" alt="Student">
                <div class="intro p-3 text-center">
                    <h1>Student</h1>
                    <p>Student can manage or view Their Grievance Here..</p>
                  <a href="/studentlogin">  <button class="btn btn1">Login</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-6">
            <div class="card ho">
                <img src="images/employ.avif" class="x" alt="Student">
                <div class="intro p-3 text-center">
                    <h1>Dean/Princopal</h1>
                    <p>This Section is Managed By the Dean/Principal of MPCT College..

                    </p>
                  <a href="/princilogin">  <button class="btn btn1">Login</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-6">
            <div class="card ho">
                <img src="images/admin.avif" class="x" alt="Student">
                <div class="intro p-3 text-center">
                    <h1>Handler & Admin</h1>
                    <p>This Section is managed and view by the Grievance handler.</p>
                 <a href="/adminlogin">   <button class="btn btn1">Login</button></a>
                </div>
            </div>
        </div>

    </div>

</div>
</section>



<!-- second section end -->
<%- include('./footer.ejs')   %> 
